# bin		    --> ignore all bin folders even in the sub-folders
#
# /build		--> ignore only build not in the sub-folders
# build/*.log   --> ignore log files only in '/build/'

# General Files
*.lnk
Thumb.mdb
.gradle

# Files just for Dev. Notes
GIT modifications.txt
ERRORS.txt

# VSCode
.settings
.vscode

# Eclipse
.project

# (keep this files as it is to avoid "Access Restriction" problem)
.classpath 
bin
build
build-eclipse

/exe
/eqCore/nbproject/private/
/eqClient/nbproject/private/
/ObjectSize/nbproject/private/
/eqServer/nbproject/private/