.gradle
.settings
.vscode
build
build-eclipse
bin
/exe
.project
.classpath
*.lnk
Thumb.mdb
GIT modifications.txt
ERRORS.txt
/eqCore/nbproject/private/
/eqClient/nbproject/private/
/ObjectSize/nbproject/private/
/eqServer/nbproject/private/